# Ignore everything in the home directory
*

# Except the Praan-setu project
!.gemini/
!.gemini/antigravity/
!.gemini/antigravity/playground/
!.gemini/antigravity/playground/magnetic-cluster/
!.gemini/antigravity/playground/magnetic-cluster/**

# But ignore node_modules and DB file inside the project
.gemini/antigravity/playground/magnetic-cluster/node_modules/
.gemini/antigravity/playground/magnetic-cluster/praansetu.db
.gemini/antigravity/playground/magnetic-cluster/.env

# Ignore gitignore itself to keep things clean
!.gitignore
